body{
    background: #333;
    color: #fff;
}

.navbar{
    border-bottom: #4a89fc 3px solid;
    
}
#home-section{
    background: url('Img/s8.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:700px;
}
div.img{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width:180px;
}
#explore-section{
    width: 100%;
    height: 10%;
}
#explore-section .img{
    height: 60%;
    width: 60%;
}



